<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <h1>Hi, This Is About Page</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fugiat
      nihil ipsum magni, quas voluptatum. Provident fuga impedit deleniti qui?
    </p>

    <form action="/get-form-data" method="post">
      <input type="text" name="name" placeholder="Enter Name" required />
      <input type="email" name="email" placeholder="Enter Email" required />
      <input
        type="password"
        name="password"
        placeholder="Enter Password"
        required
      />
      <button type="submit">Submit</button>
    </form>
  



    <script src="/assets/index.js"></script>
</body>
</html>
