@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

#tasklist::-webkit-scrollbar{
    display: none;
}
#tasklist{
    background-color: rgba(128, 128, 128, 0.103);

}
#alltasks::-webkit-scrollbar{
    display: none;
}

#employesslist::-webkit-scrollbar{
    display: none;
}